
<p-table #executionTable [value]="cars">

  <ng-template pTemplate="header">
    <tr>
      <th>Vin</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>

    <tr>

      <!-- Column Queued On -->
      <th>
        <button id="queued-on-filter-button" pButton icon="fa fa-filter" (click)="queuedOnOverlayPanel.toggle($event)" ></button>
        <p-overlayPanel #queuedOnOverlayPanel [appendTo]="'body'">
          <div>
            <label>Date From</label>
          </div>
          <div>
            <p-calendar #queueOnFromCalendar [(ngModel)]="queuedFromFilter" (ngModelChange)="filterDateColumn('queuedFrom', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue" [defaultDate]="defaultDate" hideOnDateTimeSelect="true"></p-calendar>
          </div>
          <div class="ui-column-filter" style="margin-top:5px">
            <label>Date To</label>
          </div>
          <div id="queued-on-filter-button-filter-to-calendar">
            <p-calendar #queueOnToCalendar [(ngModel)]="queuedToFilter" (ngModelChange)="filterDateColumn('queuedTo', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue" hideOnDateTimeSelect="true" hideOnDateTimeSelect="true"></p-calendar>
          </div>
        </p-overlayPanel>
      </th>

      <!-- Column Started On -->
      <th>
        <button id="started-on-filter-button" pButton icon="fa fa-filter" (click)="startedOnOverlayPanel.toggle($event)" ></button>
        <p-overlayPanel #startedOnOverlayPanel [appendTo]="'body'">
          <div>
            <label>Date From</label>
          </div>
          <div>
            <p-calendar #startedFromCalendar [(ngModel)]="startedFromFilter" (ngModelChange)="filterDateColumn('startedFrom', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue" [defaultDate]="defaultDate" hideOnDateTimeSelect="true"></p-calendar>
          </div>
          <div class="ui-column-filter" style="margin-top:5px">
            <label>Date To</label>
          </div>
          <div id="started-on-filter-button-filter-to-calendar">
            <p-calendar #startedToCalendar [(ngModel)]="startedToFilter" (ngModelChange)="filterDateColumn('startedTo', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue" hideOnDateTimeSelect="true" hideOnDateTimeSelect="true"></p-calendar>
          </div>
        </p-overlayPanel>
      </th>

      <!-- Column Completed On -->
      <th>
        <button id="completed-on-filter-button" pButton icon="fa fa-filter" (click)="completedOnOverlayPanel.toggle($event)" ></button>
        <p-overlayPanel #completedOnOverlayPanel [appendTo]="'body'">
          <div>
            <label>Date From</label>
          </div>
          <div>
            <p-calendar #completedFromCalendar [(ngModel)]="completedFromFilter" (ngModelChange)="filterDateColumn('completedFrom', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue"  [defaultDate]="defaultDate" hideOnDateTimeSelect="true"></p-calendar>
          </div>
          <div class="ui-column-filter" style="margin-top:5px">
            <label>Date To</label>
          </div>
          <div id="completed-on-filter-button-filter-to-calendar">
            <p-calendar #completedToCalendar [(ngModel)]="completedToFilter" (ngModelChange)="filterDateColumn('completedTo', 'contains')" dateFormat="mm/dd/YY"
                        showButtonBar="true" placeholder="MM/dd/yyyy HH:mm" styleClass="ui-column-filter" showTime="true" hourFormat="24" [maxDate]="filterMaxDateValue"  hideOnDateTimeSelect="true"></p-calendar>
          </div>
        </p-overlayPanel>
      </th>

      <!-- Column Created By -->
      <th>
        <input pInputText type="text" [(ngModel)]="createdByFilter"  (input)="executionTable.filter($event.target.value, 'createdBy', 'contains')" class="filter-input">
      </th>



    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.vin}}</td>
      <td>{{car.year}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
    </tr>
  </ng-template>
</p-table>
